@tailwind utilities;
@tailwind components;
@tailwind base;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-slate-800;
  @apply bg-gradient-to-br;
  @apply text-white;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.ReactModal__Overlay {
  @apply !bg-black/70;
}

.ReactModal__Content {
  background: none !important;
}