body {
    --SentixPositive: #77B91E;
    --SentixNegative: #E03131;
}

.assigned-label-negative, a.assigned-label-negative { color: var(--SentixNegative) !important; }
.assigned-label-positive, a.assigned-label-positive { color: var(--SentixPositive) !important; }

.has-assigned-label * { color: inherit !important; }